{% extends "main.html" %}
{% block content %}
    <div class="col-md-12">
        <h1>{{item.title}}</h1>
        <p><b>Description:</b> {{item.description}}</p>
        <p><b>Price:</b> {{item.price}}</p>
        <!-- Check whether item is editable (deleteable) -->
        {% if editable(item) %}
            <a class="btn btn-success" href='{{url_for('editItem', item_id = item.id)}}'>Edit</a>
            <a class="btn btn-danger" href='{{url_for('deleteItem', item_id = item.id)}}'>Delete</a>
        {% endif %}
    </div>
{% endblock %}